<div class="container-new">
	<div>
	<h1>Services</h1>
	<a href="#page-sample" class="btn btn-circle page-scroll">
		<i class="fa fa-angle-double-down animated"></i>
	</a>
</div>
<!-- Page Sample Section -->
<section id="page-sample">
<div class="polosar">
	<div class="container content-section text-center">
		<div class="row">
			{% for group in groups %}
			{% for category in group.categories %}
			{% if category.tags && category.tags.length %}
			<div class="col-lg-2 col-md-6 mb-4 mb-md-0">
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
						data-toggle="dropdown" aria-expanded="true">
						{{{category.name}}}
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
						{% for tag in category.tags %}
						<li role="presentation"><a role="menuitem" tabindex="-1" href="#"><a href="/services/{{{tag.id}}}">{{{tag.name}}}</a></a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
			{% endfor %}
			{% endfor %}
		</div>
		<div class="row">
			<h3 class="text-center">{{{service_description}}}</h3>
			{% for service in services %}
			<div class="img-slider">
				<div class="col-md-4">
					<a href="/service/{{{service.id}}}">
						<div class="card">
							<img src="{{{service.thumb}}}" alt="{{{service.name}}}" width="700px"
								class="img-rounded">
							<div class="card-body">
								<h5 class="card-title">{{{service.name}}}</h5>
								<p class="card-text">{{{service.short}}} </p>
							</div>
						</div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
</section>
</div>